#contactBackground {
  background-image: url(../img/contact.png);
  height: auto;
  max-height: 740px;
  width: auto;
  max-width: 100%;
  background-size: cover;
}

.formWrapper {
  margin: 0 auto;
  max-width: 1020px;
}

#name {
  display: inline-block;
  width: 48%;
}

#name label{
  font: 13px 'Roboto', sans-serif;
}

#name input{
  width: 100%;
}
