<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Portfolio - Zac Hadjineophytou</title>

  <link rel="stylesheet" type="text/css" href="../style.css" />
  <link rel="stylesheet" type="text/css" href="portfolio.css" />

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <script>
    $(function() {
      $("#footer").load("../components/footer.html");
    });
  </script>

  <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
</head>

<body>

<div class="site">
  <div class="headerWrapper appsBackground">
    <div class="logo-wrapper">
      <a href="/"><h1>Zac Hadjineophytou</h1></a>
    </div>
    <div class="navWrapper">
      <ul>
        <li class="home"><a href="/">Home</a></li>
        <li class="apps active"><a>Portfolio</a></li>
        <!--li class="blog"><a href="../blog">Blog</a></li!-->
        <li class="about"><a href="../about">About</a></li>
        <li class="contact"><a href="../contact">Contact</a></li>
      </ul>
    </div>

    <div class="headingWrapper">
      <h1>Portfolio</h1>
      <a href="https://github.com/zacdevil10" target="_blank">Github</a>
      <a href="https://play.google.com/store/apps/dev?id=9074979777321158995&hl=en" target="_blank">Google Play</a>
    </div>
  </div>

  <div class="content" ng-app="appView">
    <div class="tag-container" ng-controller="appController" >
      <h3>Filter: </h3>
      <div ng-repeat="tag in tags track by $index">
        <button>{{tag}}</button>
      </div>
    </div>
    <div class="appsWrapper" ng-controller="appController">
      <div class="appsView" ng-repeat="app in apps">
        <div class="column-1">
          <img src="{{app.img}}">
        </div>
        <div class="column-2">
          <div class="descriptionView">
            <h3 style="color: {{app.color}};">{{app.name}}</h3>
            <p>{{app.desc}}</p>
          </div>

        </div>
        <div class="appLinks">
          <a href="{{app.website}}" ng-if="app.website" target="_blank" ng-style="{background: hover==true ? app.color : 'transparent'}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">Website</a>
          <a href="{{app.playlink}}" ng-if="app.playlink" target="_blank" ng-style="{background: hover==true ? app.color : 'transparent'}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">Google Play</a>
          <a href="{{app.gitlink}}" ng-if="app.gitlink" target="_blank" ng-style="{background: hover==true ? app.color : 'transparent'}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">Source Code</a>
        </div>
        <div class="separator">
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div id="footer"></div>
</div>

<script src="../js/app.js"></script>
</body>

</html>
