.appsBackground {
  background-image: url(../img/apps.png);
  background-size: cover;
}

.tag-container {
  display: flex;
  max-width: 1020px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.tag-container h3 {
  margin: auto;
}

.tag-container div {
  margin: 8px auto;
}

.tag-container button {
  font-size: 16px;
  letter-spacing: 2px;
  padding: 8px 20px;
  border-radius: 70px;
  border: none;
  cursor: pointer;
  outline: none;
}

.appsWrapper {
  margin: 0 auto;
  max-width: 1020px;
}

.column-1 {
  float: left;
}

.column-1 h2 {
  color: #4a4a4a;
  text-transform: uppercase;
  padding-top: 17px;
  padding-left: 16px;
  padding-right: 16px;
  letter-spacing: 2px;
  margin: 0;
}

.column-1 img {
  width: 10.417vw;
  max-width: 200px;
  max-height: 200px;
  padding-left: 16px;
  padding-right: 16px;
}

.column-2 {
  min-height: 18.519vh;
  min-width: 50%;
  position: relative;
}

.column-2 h3 {
  font-weight: 600;
  text-transform: uppercase;
  color: #4a4a4a;
  letter-spacing: 2px;
  margin-top: 0px;
}

.appLinks a:hover {
  color: white;
  transition: all .15s ease-in-out;
}

.column-2 li {
  color: rgba(26,26,26,.6);
  line-height: 1.8;
}

.descriptionView {
  padding: 17px;
}

.descriptionView p {
  color: rgba(26,26,26,.6);
  margin-top: 0;
  margin-bottom: 24px;
}

.appLinks {
  margin-left: 17px;
  margin-bottom: 17px;
  margin-top: 17px;
}

@media only screen and (max-width: 580px) {
  .appLinks {
    display: inline-grid;
    float: none;
  }
}

@media only screen and (min-width: 580px) {
  .appLinks {
    float: right;
  }
}

.appLinks li {
  text-decoration: none;
}

.appLinks a {
  min-width: 170px;
  padding: 15px 20px;
  letter-spacing: 2px;
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  transition: all .15s ease-in-out;
}

.separator hr {
  margin: 52px 0;
  border-style: none;
  background-color: rgba(26,26,26,.15);
  height: 1px;
}
